.filters {
  border-radius: 10px;
  background-color: #e7e7e7;
  padding: 20px;
}

.filters .list-group-item {
  background-color: #e7e7e7;
  border: none;
  line-height: 15px;
  font-size: 14px;
}

.filters .list-group-item:hover {
  font-weight: 600;
}

.searchItem a {
  text-decoration: none;
}

@media screen and (min-width: 780px) {
  .filters {
    min-height: 80vh;
  }
}
